@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Marcellus&display=swap");

@font-face {
  font-family: "BiroScriptPlus";
  src: url("./assets/fonts//BiroScriptPlus.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gothic";
  src: url("./assets/fonts//gothic.ttf");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;

html,
body {
  width: 100%;
}

@tailwind utilities;

html,
body,
#root,
.app {
  font-family: "Inter", sans-serif;
  @apply text-[#1e1e1e] tracking-wider;
}

@layer base {
  ul,
  ol {
    list-style: revert;
    margin-left: 1.25rem;
    margin-top: 0.25rem; /* Adjust the value to suit your needs */
  }
}

button {
  font-family: Gothic, sans-serif;
}

/* h6 {
  @apply font-inter font-bold text-sm leading-9;
} */

.swiper {
  width: 100%;
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#date {
  font-size: 12px;
  color: #333333;
  font-family: "Inter";
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.my-carousel {
  z-index: 1;
}

.mySwiper {
  --swiper-pagination-color: rgba(255, 255, 255, 0.7);
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.7);
  --swiper-theme-color: rgba(255, 255, 255, 0.7);
  --swiper-navigation-size: 30px;
}

.ant-btn:hover {
  color: #595d3c !important;
  border-color: #595d3c !important;
  background-color: rgb(219 219 212 / 0.8);
}

.ant-btn-primary {
  color: #595d3c !important;
  background-color: #f3f3ec !important;
  border-color: #595d3c !important;
  border-radius: 0 !important;
}
.ant-btn:active {
  color: #595d3c !important;
  border-color: #595d3c !important;
  background-color: rgb(219 219 212 / 0.8);
}

.ant-btn:focus-visible {
  outline: 4px solid #595d3c55 !important;
  outline-offset: 1px !important;
  transition:
    outline-offset 0s,
    outline 0s;
}

.ant-picker-ok .ant-btn {
  color: #595d3c;
  background-color: #f3f3ec;
  border-color: #595d3c;
  border-radius: 0 !important;
  font-family: "Gothic";
  font-size: 10px;
}

:where(.css-dev-only-do-not-override-w8mnev).ant-btn-default {
  color: #595d3c;
  background-color: #f3f3ec;
  border-color: #595d3c;
  border-radius: 0 !important;
  font-family: "Gothic";
  font-size: 10px;
  text-transform: uppercase;
}

/* .ant-modal.footer .ant-btn-default {
  color: #595d3c;
  background-color: white;
  border-color:#595d3c;
  border-radius: 0 !important;
  font-family: "Gothic";
  font-size: 10px;
  padding: 20px 24px;

} */

.ant-modal .ant-modal-content {
  background-color: #f5f5ef !important;
}

:where(.css-w8mnev).ant-btn {
  border-radius: 0 !important;
}

:where(.css-dev-only-do-not-override-w8mnev).ant-btn-primary {
  color: #595d3c;
  background-color: #f3f3ec;
  border-color: #595d3c;
  border-radius: 0 !important;
  font-family: "Gothic";
  font-size: 10px;
  text-transform: uppercase;
}
/* .ant-modal.footer .ant-btn-primary {
  color: #595d3c;
  background-color: #F3F3EC;
  border-color:#595d3c;
  border-radius: 0 !important;
  font-family: "Gothic";
  font-size: 10px;
  padding: 20px 24px;

} */

.ant-picker-ok .ant-btn:hover {
  background-color: rgb(219 219 212 / 0.8);
}

.custom-picker {
  background: #f3f3ec !important;
  border: 1px solid rgb(89 93 60 / 0.2);
  border-radius: 0px !important;
}

input,
input::placeholder {
  font-size: 0.8rem !important;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-btn.ant-btn-sm {
  background-color: #595d3c;
  font-size: 14px;
  height: 24px;
  padding: 0 15px;
  border: none;
  color: #ffffff;
}

.spinner-container {
  height: calc(100vh - 200px);
}

.sidenav-container {
  height: calc(100vh - 24px);
}

.ant-spin-dot-item {
  background-color: #30332a !important;
}

.ant-spin {
  color: #30332a;
}

.screen-limit {
  max-width: 1920px;
}

.ant-float-btn-content {
  width: 100%;
}

.ant-float-btn-body {
  position: relative;
  display: none;
  background-color: transparent !important;
}

.ant-float-btn-circle {
  background-color: transparent !important;
  box-shadow: none;
}

.ant-tooltip .ant-tooltip-inner {
  background-color: #f3f3ec;
  border: 1px solid #595d3c;
  color: #595d3c;
}

.ant-tooltip .ant-tooltip-arrow {
  --antd-arrow-background-color: #595d3c;
}

.ant-form-item .ant-form-item-label {
  display: flex;
  align-items: center;
  height: 48px;
}

li .ant-picker-ok {
  display: none;
}

.ant-drawer .ant-drawer-body {
  padding: 24px 0 0 0;
}

.ant-form-item-control-input-content .ant-input {
  height: 38px;
}

#resume_extra {
  margin-top: 0.5rem;
  font-family: Inter;
  font-size: 12px;
}

.ant-upload-list-item-actions .ant-btn {
  background: transparent;
}

.ant-select-selector {
  background-color: transparent !important;
  /* border: none !important; */
  border-radius: 0 !important;
  height: 38px !important;
  display: flex !important;
  align-items: center !important;
  font-family: Inter !important;
}

/* .ant-select-focused{
  border: none !important;
} */

.ant-form-item-explain-error {
  font-size: 12px;
  font-family: Inter;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #595d3c;
  border-color: #595d3c;
}
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: #595d3c;
  border-color: #595d3c;
}
.ant-checkbox-checked:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  background-color: #595d3c;
  border-color: #595d3c;
}

